<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.sms">

  <application>
    <receiver
        android:name="expo.modules.sms.OtpReceiver"
        android:exported="true"
        android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
      </intent-filter>
    </receiver>
  </application>

</manifest>
